#header {
  background: #3C9CD7;
  color: #FFFFFF;
}
#header h1 {
  display: inline-block;
  font-size: 28px;
  margin: 10px 0;
}
#header a.btn {
  border: none;
  margin: 9px 0 0;
}
body,
html {
  background-color: #eeeeee !important;
}
section {
  margin: 30px 0;
}
section .container {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding-top: 20px;
  background: #FFFFFF;
}
section .container h2 {
  position: absolute;
  display: block;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #CCCCCC;
  padding: 4px 6px;
  background: #FFFFFF;
  margin: -35px 0 0 0;
  border-radius: 5px;
  z-index: 50;
}
#control button {
  margin-top: 5px;
  margin-bottom: 20px;
}
#log-panel {
  height: 500px;
  overflow-y: hidden;
  font-family: Consolas, monospace;
  margin-bottom: 15px;
}
#log-panel .log-item span {
  background: #AAAAAA;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 2px 4px 0 4px;
  margin-right: 4px;
}
.pageNav {
  display: inline-block;
  margin-left: 8px;
}
