<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Result - Viki Duplicate Content Finder</title>

    <link href="css/app.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/ngDialog.min.css" rel="stylesheet">
    <link href="css/ngDialog-theme-plain.min.css" rel="stylesheet">

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-websocket.min.js"></script>
    <script src="js/scrollglue.js"></script>
    <script src="js/ngDialog.min.js"></script>
    <script src="js/browse.js"></script>
</head>
<body ng-app="VdfBrowseApp">

<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Viki Duplicate Content Finder</h1>
                <a class="btn btn-default pull-right" href="./" role="button">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    Dashboard
                </a>
            </div>
        </div>
    </div>
</header>

<section ng-controller="StatusController">
    <div class="container">
        <h2>Status</h2>
        <div class="row">
            <div class="col-md-12">
                <p>Processed {{ processedCount }} URLs. {{ pendingCount }} URLs to be processed.</p>
            </div>
        </div>
    </div>
</section>

<section ng-controller="FilterController">
    <div class="container">
        <h2>Filters</h2>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Content Type</label>
                    <select class="form-control" ng-model="selectType" ng-change="update()">
                        <option value="-1">All</option>
                        <option value="1">Channel</option>
                        <option value="2">Video</option>
                        <option value="3">Celebrity</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Minimum Count</label>
                    <select class="form-control" ng-model="selectMinimumCount" ng-change="update()">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>

<section ng-controller="TableController">
    <div class="container">
        <h2>Result</h2>
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-sm-1 text-center">Type</th>
                        <th>Title</th>
                        <th class="col-sm-1">Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in data.rows" ng-click="openUrlList(row.type, row.title)">
                        <td class="col-sm-1 text-center">
                            {{ displayType(row.type) }}
                        </td>
                        <td>
                            {{ row.title }}
                        </td>
                        <td>
                            {{ row.count }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Total record {{ data.count }}.</p>
            </div>
            <div class="col-sm-6 text-right">
                <div class="pageNav" ng-repeat="page in getPageNavList() track by $index">
                    <a href="javascript:" ng-if="page != -1 && page != data.page" ng-click="goPage(page)">{{ page }}</a>
                    <span ng-if="page != -1 && page == data.page">{{ page }}</span>
                    <span ng-if="page == -1">...</span>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/ng-template" id="urlList">
    <div class="urlList">
        <h2>[{{ displayType(type) }}]  {{ title }}</h2>
        <ul>
            <li ng-repeat="url in urls">
                <a href="https://www.viki.com{{ url }}" target="_blank">{{url}}</a>
            </li>
        </ul>
    </div>
</script>

</body>
</html>